<!DOCTYPE html>
<html>
    <head>
        <title>Authorization</title>
        <meta charset='utf-8'/>
        <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
        <link rel='stylesheet' href='/bootstrap/css/bootstrap.vertical-tabs.css' />
        <link rel='stylesheet' href='/css/style.css' />
    </head>
<body>
    <div class="container">
        <form class="form-login" role="form" action="/login" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="email" name="email" class="form-control" placeholder="Email address" required=""  autofocus="">
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" name="password" class="form-control" placeholder="Password" required="">
            </div>

            <!--<div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>-->
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            <br/>
            <div class="form-group">
                <div class="register-info">Note: to get access for this resource please contact to <a href="mailto:change@me.com">Admin</a></div>
            </div>
        </form>
    </div>
</body>
</html>