//custom application styles


body {
  padding: 5px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

form.ns-edit {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wrapper {
  width:auto;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 99%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}


.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  .input-group {
    margin-bottom:15px;
  }
}

.register-info {
  border-top: 1px solid#888;
  padding-top:15px;
  font-size:85%
}


.help-block {
  display: none;
}

#app-alerts {
  width: auto;
  position: absolute;
  right: 0;
  z-index: 1;
  max-width: 40%;
  margin-right: 15px;
}

.has-error {
  .help-block {
    display:block;
  }
}

.delete-group-link {
  color: tomato;
  &:hover {
    color: red;
  }
}


.list-group-item {

  .download-link, .delete-group-link {
    cursor:pointer;
    float:right;
    margin-right: 10px;
  }
  .label {
    margin-right:5px;
  }
}

.phrases-panel {
  .panel-heading {
    cursor:pointer;
  }
}
.phrases-table {
  td {
    width:35%;
    &:nth-child(1) {
      width: 15%;
    }
  }
}

/*.loader {
  display:block;
  position:absolute;
  top:0; bottom:0; left:0; right:0;
  background:rgba(0,0,0,0.5);
}*/

#group-options {
  display: none;
  &.visible {
    display: block;
  }
}