
/* line 128 : D:\www\mocal10n\public\css\style.styl */

/* line 1 : D:\www\mocal10n\node_modules\stylus\lib\functions\index.styl */

/* line 287 : D:\www\mocal10n\node_modules\stylus\lib\functions\index.styl */

/* line 14 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\index.styl */

/* line 14 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\index.styl */

/* line 2 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\border.styl */

/* line 12 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\border.styl */

/* line 2 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\clearfix.styl */

/* line 30 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\clearfix.styl */

/* line 2 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\color-image.styl */

/* line 6 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\color-image.styl */

/* line 6 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\flex.styl */

/* line 197 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\flex.styl */

/* line 92 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\gradients.styl */

/* line 92 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\gradients.styl */

/* line 92 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 12 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 2 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\iconic.styl */

/* line 9 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\iconic.styl */

/* line 2 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\image.styl */

/* line 27 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\image.styl */

/* line 27 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\overflow.styl */

/* line 21 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\overflow.styl */

/* line 3 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\positions.styl */

/* line 67 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\positions.styl */

/* line 3 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\reset.styl */

/* line 79 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\reset.styl */

/* line 6 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\index.styl */

/* line 6 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\index.styl */

/* line 2 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\aliases.styl */

/* line 14 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\aliases.styl */

/* line 2 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 11 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 11 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 9 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 9 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\replace-text.styl */

/* line 10 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\replace-text.styl */

/* line 1 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\shadow-stroke.styl */

/* line 3 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\shadow-stroke.styl */

/* line undefined : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\vendor.styl */

/* line 92 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\vendor.styl */

/* line 92 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 574 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 574 : D:\www\mocal10n\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\size.styl */

/* line 7 : D:\www\mocal10n\public\css\style.styl */
body {
  padding: 5px;
/* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* line 13 : D:\www\mocal10n\public\css\style.styl */
form.ns-edit {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 19 : D:\www\mocal10n\public\css\style.styl */
.wrapper {
  width: auto;
}

/* line 24 : D:\www\mocal10n\public\css\style.styl */
/* Sticky footer styles
-------------------------------------------------- */

/* line 26 : D:\www\mocal10n\public\css\style.styl */
html {
  position: relative;
  min-height: 100%;
}

/* line 31 : D:\www\mocal10n\public\css\style.styl */
.footer {
  position: absolute;
  bottom: 0;
  width: 99%;
/* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}

/* line 41 : D:\www\mocal10n\public\css\style.styl */
.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

/* line 46 : D:\www\mocal10n\public\css\style.styl */
.form-login .input-group {
  margin-bottom: 15px;
}

/* line 51 : D:\www\mocal10n\public\css\style.styl */
.register-info {
  border-top: 1px solid #888;
  padding-top: 15px;
  font-size: 85%;
}

/* line 58 : D:\www\mocal10n\public\css\style.styl */
.help-block {
  display: none;
}

/* line 62 : D:\www\mocal10n\public\css\style.styl */
#app-alerts {
  width: auto;
  position: absolute;
  right: 0;
  z-index: 1;
  max-width: 40%;
  margin-right: 15px;
}

/* line 71 : D:\www\mocal10n\public\css\style.styl */

/* line 72 : D:\www\mocal10n\public\css\style.styl */
.has-error .help-block {
  display: block;
}

/* line 77 : D:\www\mocal10n\public\css\style.styl */
.delete-group-link {
  color: #ff6347;
}

/* line 79 : D:\www\mocal10n\public\css\style.styl */
.delete-group-link:hover {
  color: #f00;
}

/* line 85 : D:\www\mocal10n\public\css\style.styl */

/* line 87 : D:\www\mocal10n\public\css\style.styl */
.list-group-item .download-link,
.list-group-item .delete-group-link {
  cursor: pointer;
  float: right;
  margin-right: 10px;
}

/* line 92 : D:\www\mocal10n\public\css\style.styl */
.list-group-item .label {
  margin-right: 5px;
}

/* line 97 : D:\www\mocal10n\public\css\style.styl */

/* line 98 : D:\www\mocal10n\public\css\style.styl */
.phrases-panel .panel-heading {
  cursor: pointer;
}

/* line 102 : D:\www\mocal10n\public\css\style.styl */

/* line 103 : D:\www\mocal10n\public\css\style.styl */
.phrases-table td {
  width: 35%;
}

/* line 105 : D:\www\mocal10n\public\css\style.styl */
.phrases-table td:nth-child(1) {
  width: 15%;
}

/* line 111 : D:\www\mocal10n\public\css\style.styl */
/*.loader {
  display:block;
  position:absolute;
  top:0; bottom:0; left:0; right:0;
  background:rgba(0,0,0,0.5);
}*/

/* line 118 : D:\www\mocal10n\public\css\style.styl */
#group-options {
  display: none;
}

/* line 120 : D:\www\mocal10n\public\css\style.styl */
#group-options.visible {
  display: block;
}

/* line 125 : D:\www\mocal10n\public\css\style.styl */
.new-lang-form {
  float: none;
  margin-right: 10%;
}
