var path = require('path');

module.exports = {
    options: {
        DEFAULT_PORT:3000
        , env: 'production'//by default is development. Todo: currently this option does not work
    },
    db: {
        dbName: 'mocadb'
        , driver: 'sqlite'//or postgres
        , path: path.join(__dirname, 'moca.sqlite3')//path from this folder (./config) to db-file. Only need for SQLite
        , user: 'wwwDBUser'//for postgres
        , pass: '1q2w3e' //for postgres
        , port: '5432' //for postgres
    },
    users: [
        //{ username: "Guest", passwd: "", email: '', type: "guest"}
        , { username: "Odmin", passwd: "123321", email: "change@me.com", type: "admin"}
        , { username: "Test", passwd: "123123", email: "test@win-interactive.com" }
        , { username: "Test2", passwd: "123123", email: "test2@win-interactive.com" }
    ]
};
